# Ignore Python compiled files and metadata
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
# Ignore Images
*.png
# Ignore OS files
.DS_Store
.vscode/settings.json
examples/data/Dem_2m_palmitas_4326.tif
examples/data/Dem_2m_palmitas_4326.tif.aux.xml
.gitignore
examples/data/DIR_2m_palmitas_4326.tfw
examples/data/DIR_2m_palmitas_4326.tif
.gitignore
examples/data/DIR_2m_palmitas_4326.tif.aux.xml
